<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/landing.css}">
    <script th:src="@{/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/bootstrap.min.js}"></script>
    <link href="styles.css" rel="stylesheet" />
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">Real Estate</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/landing-page-2">PropertyList</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/add-property-2">Add Property</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/property-types-2">Property Types</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/property-use-2">Property Use</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/add-property-type-2">Add Property Type</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/add-property-use-2">Add Property Use</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/communications-2">Communications</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="#!">Javis Otieno</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Log out</a></li>
                        <!--<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#!">Action</a>
                                <a class="dropdown-item" href="#!">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#!">Something else here</a>
                            </div>
                        </li>-->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
            <table class="table table-hover" id="loadTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Date Created</th>
                    <th>Username</th>
                    <th>Subject</th>
                    <th>Message</th>
                    <th>Mode</th>
                    <th>Mobile Number</th>
                    <th>Email</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="property: ${data}">
                    <!--// FINDALL() METHOD<tr th:each="document: ${data}">-->
                    <td th:text="${property.id}"></td>
                    <td th:text="${property.timestamp}"></td>
                    <td th:text="${property.updatetimestamp}"></td>
                    <td th:text="${property.senderuserid}"></td>
                    <td th:text="${property.username}"></td>
                    <td th:text="${property.subject}"></td>
                    <td th:text="${property.message}"></td>
                    <td th:text="${property.mode}"></td>
                    <td th:text="${property.mobileno}"></td>
                    <td th:text="${property.email}"></td>
                    <td th:text="${property.status}"></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="scripts.js"></script>

</body>
</html>